<launch>
  <!-- Load the robot description -->
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder $(find multi_turtlebots_sim)/turtlebot3_description/urdf/turtlebot3_burger.urdf.xacro" />

  <!-- Spawn Robot2 -->
  <group ns="robot2">
    <!-- Unique transform prefix -->
    <param name="tf_prefix" value="robot2_tf" />
    <!-- Include single robot launch file with Robot2's position and name -->
    <include file="$(find multi_turtlebots_sim)/launch/one_robot.launch">
      <arg name="init_pose" value="-x 0.5 -y 2 -z 0" /> <!-- Robot2 position -->
      <arg name="robot_name" value="Robot2" />
    </include>
  </group>

  <!-- Spawn Robot1 -->
  <group ns="robot1">
    <!-- Unique transform prefix -->
    <param name="tf_prefix" value="robot1_tf" />
    <!-- Include single robot launch file with Robot1's position and name -->
    <include file="$(find multi_turtlebots_sim)/launch/one_robot.launch">
      <arg name="init_pose" value="-x 1.0 -y 2 -z 0" /> <!-- Robot1 in front of Robot2 -->
      <arg name="robot_name" value="Robot1" />
    </include>
  </group>
  
    <!-- Launch teleop_twist_keyboard for Robot1 -->
  <node pkg="multi_turtlebots_sim" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen">
    <param name="use_sim_time" value="true" />
  </node>
</launch>

